<div class="payment-setup">
	<div class="palm-page-header">
		<div class="palm-page-header-wrapper">              
			<div class="icon appcatalog">
			</div>         
			<div class="title">Configuration du paiement</div>      
		</div>
	</div>

	<div class="palm-body-text" id="obInstructions">
		Vous pouvez payer les applications à l’aide de votre compte de fournisseur ou par carte de crédit.
		Votre fournisseur peut imposer une limite de prix pour chaque transaction.
	</div>

	<div class="palm-body-text" id="ccInstructions">
		Vous devez utiliser une carte de crédit pour acheter des applications.
	</div>
	<div class="palm-body-text">
		Les renseignements de carte de crédit ne sont pas stockés par HP ou sur votre téléphone, mais par un service de paiement tiers sécurisé.
	</div>
  <div class="palm-body-text" id="ccInstructions2">
    Appuyez sur Continuer pour saisir le mot de passe de votre compte HP webOS qui permettra d’autoriser les achats.
  </div>

   	<div x-mojo-element="Button" id="carrierButton"></div>
   	<div x-mojo-element="Button" id="creditButton"></div>
</div>
