<div id="palm-dialog-box-message" class="palm-dialog-content">
    <div id="title" class="dialog-title capitalize">
    	Réinitialisation du mot de passe
    </div>
    <div class="palm-dialog-separator">
    </div>
	<div class="space"></div>
	
	<div>
		Suivez les instructions que nous avons envoyées à <span id="emailAddress" class="reset-email"></span> pour réinitialiser votre mot de passe ou <a href="http://www.palm.com/webos-contact">contactez notre service à la clientèle</a>.
	</div>
		
	<div class="palm-button" id="doneResetEmail" x-mojo-touch-feedback="delayed">
		Terminé
	</div>          
</div>
