<div class="profile-settings">
  	<div class="palm-page-header">
		<div class="header-icon backup"></div>
	    <div class="header-text">
	     	Impostazioni profilo
	    </div>
	</div>	

	<div class="palm-fullscreen palm-scrim" id="spinnerCont">
		<div class="palm-fullscreen-cont">
			<div id="spinner" class="spinner" x-mojo-element="Spinner"></div>	
		</div>
	</div>
	
	<div id="accountState">
		<div class="palm-inline-error resend-error">
			<div class="error-message">Questo profilo non è stato verificato.</div>
		</div>
		<div class="palm-button" id="resendEmail" x-mojo-touch-feedback="delayed">
			Invia di nuovo il messaggio e-mail di verifica
		</div>
	</div>

	<div id="emailError" class="palm-inline-error" style="display:none">
		<div class="error-message">L’indirizzo e-mail deve avere un formato valido.</div>
	</div>

	<div id="editProfile">
		<div class="palm-group">
			<div class="palm-group-title" id="title">Nome
			</div>    
		
			<div class="palm-list">  
			
			    <div class='palm-row first'>                                                      
					<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
						<div class="title">    
							<div class="label">Nome</div>
							<div id="firstName" x-mojo-element="TextField" ></div>
				        </div>                                                                 
				    </div>
				</div>              
			            
				<div class='palm-row last'>                                                      
					<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
						<div class="title">    
							<div class="label">Cognome</div>
							<div id="lastName" x-mojo-element="TextField" ></div>
				        </div>                                                                 
				    </div>
				</div>
		   </div>    
		</div> 
	
		<div id="firstNameError" class="palm-inline-error" style="display:none">
			<div class="error-message">Inserire un nome.</div>
		</div>
	
		<div id="lastNameError" class="palm-inline-error" style="display:none">
			<div class="error-message">Inserire un cognome.</div>
		</div>
			
		<div class="palm-group">
			<div class="palm-group-title" id="title">E-mail
			</div>    
		
			<div class="palm-list">  
			            
				<div class='palm-row single'>                                                      
					<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
						<div class="title">    
							<div id="emailAddress" x-mojo-element="TextField" ></div>
				        </div>                                                                 
				    </div>
				</div>
		   </div>    
		</div>
	
		<div id="emailEmptyError" class="palm-inline-error" style="display:none">
			<div class="error-message">Inserire un indirizzo e-mail.</div>
		</div>
	
		<div id="emailError" class="palm-inline-error" style="display:none">
			<div class="error-message">L’indirizzo e-mail deve avere un formato valido.</div>
		</div>
	
		<div class="palm-group">
			<div class="palm-group-title" id="title">Domanda di sicurezza
			</div>    
		
			<div class="palm-list">  
			            
				<div class='palm-row single'>  
					<div id="questionSelector" x-mojo-element="ListSelector"></div>                                                    
				</div>
		   </div>    
		</div> 
	
		<div class="palm-group">
			<div class="palm-group-title" id="title">Risposta
			</div>    
		
			<div class="palm-list">  
			            
				<div class='palm-row single'>                                                      
					<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
						<div class="title">    
							<div id="answer" x-mojo-element="TextField" ></div>
				        </div>                                                                 
				    </div>
				</div>
		   </div>    
		</div> 
	
		<div id="answerError" class="palm-inline-error" style="display:none">
			<div class="error-message">Inserire una risposta.</div>
		</div>
	
		<div class="palm-button" id="continueButton" x-mojo-touch-feedback="delayed">
			Continua
		</div> 
		
	</div>	
</div>
