<div class="payment-setup">
	<div class="palm-page-header">
		<div class="palm-page-header-wrapper">              
			<div class="icon appcatalog">
			</div>         
			<div class="title">Configuración de pago</div>      
		</div>
	</div>

	<div class="palm-body-text" id="obInstructions">
		Puedes pagar las aplicaciones por medio de tu empresa telefónica o con una tarjeta de crédito.
		Es posible que tu empresa telefónica tenga un límite de precio para cada transacción.
	</div>

	<div class="palm-body-text" id="ccInstructions">
		Tienes que usar una tarjeta de crédito para comprar aplicaciones.
	</div>
	<div class="palm-body-text">
		HP no guarda la información de la tarjeta de crédito, ni se guarda en tu teléfono sino en un servicio para pagos externo y seguro.
	</div>
  <div class="palm-body-text" id="ccInstructions2">
    Toca Continuar para introducir la contraseña de tu cuenta de HP webOS que se utilizará para autorizar las compras.
  </div>

   	<div x-mojo-element="Button" id="carrierButton"></div>
   	<div x-mojo-element="Button" id="creditButton"></div>
</div>
