<div id="palm-dialog-box-message" class="palm-dialog-content">
    <div id="title" class="dialog-title capitalize">
    	Restablecer contraseña
    </div>
    <div class="palm-dialog-separator">
    </div>
	<div class="space"></div>
	
	<div>
		Sigue las instrucciones que te enviamos a <span id="emailAddress" class="reset-email"></span> para restablecer tu contraseña, o bien <a href="http://www.palm.com/webos-contact">comunícate con atención al cliente</a>.
	</div>
		
	<div class="palm-button" id="doneResetEmail" x-mojo-touch-feedback="delayed">
		Listo
	</div>          
</div>
