<div id="palm-dialog-box-message" class="palm-dialog-content">
    <div id="title" class="dialog-title capitalize">
    	Cambiar contraseña
    </div>
    <div class="palm-dialog-separator">
    </div>
	<div class="space"></div>
	
	<div class="textfield-group" x-mojo-focus-highlight="true">
     <div class="title">
       <div id="newPassword" name="textField" x-mojo-element="PasswordField"></div>
     </div> 
   </div>
	
	<div class="textfield-group" x-mojo-focus-highlight="true">
     <div class="title">
       <div id="confirmPassword" name="textField" x-mojo-element="PasswordField"></div>
     </div> 
   </div>

	<div id="noPasswordMessage" class="palm-inline-error" style="display:none">
		<div class="error-message">Introduce la contraseña.</div>
	</div>
	
	<div id="passwordLengthError" class="palm-inline-error" style="display:none">
		<div class="error-message">La contraseña debe tener entre 6 y 20 caracteres.</div>
	</div>
	
	<div id="mismatchMessage" class="palm-inline-error" style="display:none">
		<div class="error-message">Las contraseñas no coinciden.</div>
	</div>
	
	<div id="noConfirmMessage" class="palm-inline-error" style="display:none">
		<div class="error-message">Confirma la contraseña.</div>
	</div>
	
	<div id="systemErrorMessage" class="palm-inline-error" style="display:none">
		<div class="error-message">No se pudo cambiar la contraseña. Intenta de nuevo.</div>
	</div>
		
	<div x-mojo-element="Button" id="submitResetPassword"></div>	
		
</div>
