<div>

	<div class="palm-list">
		
		<div class="palm-row first">
			<div class="palm-row-wrapper padded">
				<div class="icon left details-header-icon">
					<div style='background: url(#{appIcon}) center center no-repeat;float:left;width:44px;height:44px'></div>
				</div>
				<div class="details-header-title-and-creator">
					<div class="title">#{title}</div>
					<div class="subtitle truncating-text">#{creator}</div>
				</div>				
			</div>
		</div>

		<div class="palm-row last">
			<div class="palm-row-wrapper">
				<div class="label right">#{pluralRating}</div>
				<div class="title details-rating">
					<!-- <span class="details-rating-count">#{cntRating}</span> -->
					<img class="details-rating-star" src='images/star-#{formattedStar1}.png' width="20px" height="20px" />
					<img class="details-rating-star" src='images/star-#{formattedStar2}.png' width="20px" height="20px" />
					<img class="details-rating-star" src='images/star-#{formattedStar3}.png' width="20px" height="20px" />
					<img class="details-rating-star" src='images/star-#{formattedStar4}.png' width="20px" height="20px" />
					<img class="details-rating-star" src='images/star-#{formattedStar5}.png' width="20px" height="20px" />
				</div>
			</div>
		</div>

	</div>
	
</div>