<div class="palm-row no-separator">
	<div class="review-row-title-and-date">
		<div class="review-date">#{formattedDate}</div>
		<!-- <div class="review-title truncating-text">***TITLE***</div> -->
		<!-- <div class="review-row-rating"> -->
			<img src='images/stars-#{score}.png' width="62px" height="14px"/>
		<!-- </div> -->
	</div>
	<div class="review-row-body">
		<span class="review-row-creator" x-mojo-loc="">By <span id="creator_name">#{formattedCreator}</span></span>
		<span>#{comment}</span>
	</div>
</div>