<div class="row multi-line" id=#{id}>
	<div style="position:relative; padding:4px;">
		<div class="creator-text" ><b>#{creator}</b></div>
		<div class="small-text-preview" style="position:absolute; top:0px; right:8px;" >#{creationtime}</div>
		<img src='images/stars-big-#{score}.png' style="position:absolute; top:18px; left:8px;" width="60px" height="12px"/>
	</div>
	<div style="height:24px;">	</div>
	<div id="txt-fa-dt-comment" style="margin-left:8px; margin-right:8px;" class="small-text-preview"><pre>#{comment}</pre></div>
</div>
