<div class="profile-settings">
  	<div class="palm-page-header">
		<div class="header-icon backup"></div>
	    <div class="header-text">
	     	Configuración del perfil
	    </div>
	</div>	

	<div class="palm-fullscreen palm-scrim" id="spinnerCont">
		<div class="palm-fullscreen-cont">
			<div id="spinner" class="spinner" x-mojo-element="Spinner"></div>	
		</div>
	</div>
	
	<div id="accountState">
		<div class="palm-inline-error resend-error">
			<div class="error-message">Este perfil no se ha verificado.</div>
		</div>
		<div class="palm-button" id="resendEmail" x-mojo-touch-feedback="delayed">
			Volver a enviar verificación
		</div>
	</div>

	<div id="emailError" class="palm-inline-error" style="display:none">
		<div class="error-message">El correo electrónico debe tener un formato válido.</div>
	</div>

	<div id="editProfile">
		<div class="palm-group">
			<div class="palm-group-title" id="title">Nombre
			</div>    
		
			<div class="palm-list">  
			
			    <div class='palm-row first'>                                                      
					<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
						<div class="title">    
							<div class="label">Nombre</div>
							<div id="firstName" x-mojo-element="TextField" ></div>
				        </div>                                                                 
				    </div>
				</div>              
			            
				<div class='palm-row last'>                                                      
					<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
						<div class="title">    
							<div class="label">Apellido(s)</div>
							<div id="lastName" x-mojo-element="TextField" ></div>
				        </div>                                                                 
				    </div>
				</div>
		   </div>    
		</div> 
	
		<div id="firstNameError" class="palm-inline-error" style="display:none">
			<div class="error-message">Introduce un nombre.</div>
		</div>
	
		<div id="lastNameError" class="palm-inline-error" style="display:none">
			<div class="error-message">Introduce apellido(s).</div>
		</div>
			
		<div class="palm-group">
			<div class="palm-group-title" id="title">Correo electrónico
			</div>    
		
			<div class="palm-list">  
			            
				<div class='palm-row single'>                                                      
					<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
						<div class="title">    
							<div id="emailAddress" x-mojo-element="TextField" ></div>
				        </div>                                                                 
				    </div>
				</div>
		   </div>    
		</div>
	
		<div id="emailEmptyError" class="palm-inline-error" style="display:none">
			<div class="error-message">Introduce una dirección de correo electrónico.</div>
		</div>
	
		<div id="emailError" class="palm-inline-error" style="display:none">
			<div class="error-message">El correo electrónico debe tener un formato válido.</div>
		</div>
	
		<div class="palm-group">
			<div class="palm-group-title" id="title">Pregunta de seguridad
			</div>    
		
			<div class="palm-list">  
			            
				<div class='palm-row single'>  
					<div id="questionSelector" x-mojo-element="ListSelector"></div>                                                    
				</div>
		   </div>    
		</div> 
	
		<div class="palm-group">
			<div class="palm-group-title" id="title">Respuesta
			</div>    
		
			<div class="palm-list">  
			            
				<div class='palm-row single'>                                                      
					<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
						<div class="title">    
							<div id="answer" x-mojo-element="TextField" ></div>
				        </div>                                                                 
				    </div>
				</div>
		   </div>    
		</div> 
	
		<div id="answerError" class="palm-inline-error" style="display:none">
			<div class="error-message">Introduce una respuesta.</div>
		</div>
	
		<div class="palm-button" id="continueButton" x-mojo-touch-feedback="delayed">
			Continuar
		</div> 
		
	</div>	
</div>
