<div class="palm-row " x-mojo-touch-feedback="delayed">
	<div class="palm-row-wrapper padded">
		<div class="icon left search-result-app-icon #{formattedUpdate}">
			<div class="loadingicon"></div>
			<div class="update-badge"></div>
		</div>
		<div class="icon right search-result-price-and-rating">
			<div class="search-result-price #{formattedFree}">#{formattedPrice}</div>
			<img class="search-result-rating" src='images/stars-#{formattedAverageRating}.png' width="62" height="14" />	
		</div>
		<div class="search-result-details">
			<div class="title">#{title}</div>
			<div class="subtitle truncating-text">#{author}</div>
		</div>
	</div>
</div>
