<div class="payment-setup">
	<div class="palm-page-header">
		<div class="palm-page-header-wrapper">              
			<div class="icon appcatalog">
			</div>         
			<div class="title">Zahlung einrichten</div>      
		</div>
	</div>

	<div class="palm-body-text" id="obInstructions">
		Sie können Anwendungen über Ihr Mobilfunkkonto oder per Kreditkarte bezahlen.
		Ihr Mobilfunkanbieter setzt u. U. eine Preisgrenze für jede Transaktion.
	</div>

	<div class="palm-body-text" id="ccInstructions">
		Zum Kauf von Anwendungen müssen Sie eine Kreditkarte benutzen.
	</div>
	<div class="palm-body-text">
		Kreditkarteninformationen werden nicht von HP oder auf Ihrem Handy gespeichert, sondern von einem sicheren Zahlungsservice eines Drittanbieters.
	</div>
  <div class="palm-body-text" id="ccInstructions2">
    	Tippen Sie auf „Weiter“, um das Kennwort Ihres HP webOS-Konto einzugeben, das zur Autorisierung von Käufen verwendet wird.
  </div>

   	<div x-mojo-element="Button" id="carrierButton"></div>
   	<div x-mojo-element="Button" id="creditButton"></div>
</div>
