<div id="palm-dialog-box-message" class="palm-dialog-content">
    <div id="title" class="dialog-title capitalize">
    	Kennwort ändern
    </div>
    <div class="palm-dialog-separator">
    </div>
	<div class="space"></div>
	
	<div class="textfield-group" x-mojo-focus-highlight="true">
     <div class="title">
       <div id="newPassword" name="textField" x-mojo-element="PasswordField"></div>
     </div> 
   </div>
	
	<div class="textfield-group" x-mojo-focus-highlight="true">
     <div class="title">
       <div id="confirmPassword" name="textField" x-mojo-element="PasswordField"></div>
     </div> 
   </div>

	<div id="noPasswordMessage" class="palm-inline-error" style="display:none">
		<div class="error-message">Geben Sie Ihr Kennwort ein.</div>
	</div>
	
	<div id="passwordLengthError" class="palm-inline-error" style="display:none">
		<div class="error-message">Das Kennwort muss 6 bis 20 Zeichen umfassen.</div>
	</div>
	
	<div id="mismatchMessage" class="palm-inline-error" style="display:none">
		<div class="error-message">Die Kennwörter stimmen nicht überein.</div>
	</div>
	
	<div id="noConfirmMessage" class="palm-inline-error" style="display:none">
		<div class="error-message">Bestätigen Sie Ihr Kennwort.</div>
	</div>
	
	<div id="systemErrorMessage" class="palm-inline-error" style="display:none">
		<div class="error-message">Kennwort konnte nicht geändert werden. Versuchen Sie es erneut.</div>
	</div>
		
	<div x-mojo-element="Button" id="submitResetPassword"></div>	
		
</div>
