<div class="profile-settings">
  	<div class="palm-page-header">
		<div class="header-icon backup"></div>
	    <div class="header-text">
	     	Modifica indirizzo e-mail
	    </div>
	</div>

	<div id="editProfile">
			
		<div class="palm-body-text">
			Inserire un indirizzo e-mail valido. Le ricevute verranno inviate a tale indirizzo.
		</div>
            
                <div id="emailNotSameError" class="palm-inline-error" style="display:none">
                        <div class="error-message">I due indirizzi e-mail devono corrispondere.</div>
                </div>

                <div id="emailNotValidError" class="palm-inline-error" style="display:none">
                        <div class="error-message">L’indirizzo e-mail deve avere un formato valido.</div>
                </div>

                <div id="embargoedAddError" class="palm-inline-error" style="display:none">
                        <div class="error-message"> Il governo USA non consente ad HP di permettere l’uso di questo indirizzo e-mail.</div>
                </div>
			
		<div class="palm-group">
			<div class="palm-group-title" id="title">Indirizzo e-mail</div>    
		
			<div class="palm-list">  
			            
				<div class='palm-row top'>                                                      
					<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
						<div class="title">    
							<div id="emailAddress1" x-mojo-element="TextField" ></div>
				        </div>                                                                 
				    </div>
				</div>
				<div class='palm-row bottom'>                                                      
					<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
						<div class="title">    
							<div id="emailAddress2" x-mojo-element="TextField" ></div>
				        </div>                                                                 
				    </div>
				</div>
		   </div>    
		</div>
	
		<div class="palm-button" id="okButton" x-mojo-touch-feedback="delayed">
			OK
		</div> 
		
	</div>	
</div>
