<div>
	<div id="network" style="display:none" class="palm-scene palm-hasheader palm-dark app-catalog no-wifi-scene">
		<div class="palm-fullscreen-error">
			<div class="large-icon nonetwork"></div>
			<div class="fullscreen-message">Per usare quest’applicazione è necessario collegarsi a una rete.</div>
			<div id="show_help" class="palm-button" x-mojo-touch-feedback="immediate">Guida</div>
		</div>
	</div>
	<div id="error" style="display:none" class="palm-scene palm-hasheader palm-dark app-catalog app-catalog-down-scene">
	    <div class="app-catalog-down-image"></div>
	    <div class="app-catalog-down-message">
                <div>Non è stato possibile completare questa azione.<br/>Riprovare più tardi.</div>
                <div id="app-catalog-down-code" style="display:none"></div>
            </div>
        </div>
	<div id="badauth" style="display:none" class="palm-scene palm-hasheader palm-dark app-catalog app-catalog-down-scene">
	    <div class="app-catalog-down-image"></div>
	    <div class="app-catalog-down-message">Nessun account HP WebOSPer usare l’App Catalog è necessario un account HP WebOS attivo.</div>
	</div>
	<div id="appunavailable" style="display:none" class="palm-scene palm-hasheader palm-dark app-catalog app-catalog-down-scene">
		<div class="palm-fullscreen-error">
	    <div class="large-icon large-app-catalog"></div>
		<div class="app-catalog-down-message">Nessuna applicazione trovata.</div>
		</div>
	</div>
	<div id="dplfailed" style="display:none" class="palm-scene palm-hasheader palm-dark app-catalog app-catalog-down-scene">
	    <div class="palm-fullscreen-error">
			<div class="large-icon large-app-catalog"></div>
			<div class="fullscreen-message">Impossibile impostare un account. Il governo USA non consente ad HP di vendere applicazioni a questo utente.</div>
			<div id="show_dplfailed_help" class="palm-button" x-mojo-touch-feedback="immediate">Guida</div>
		</div>
	</div>
</div>
