<div class="payment-setup">
	<div class="palm-page-header">
		<div class="palm-page-header-wrapper">              
			<div class="icon appcatalog">
			</div>         
			<div class="title">Payment Setup</div>      
		</div>
	</div>

	<div class="palm-body-text" id="obInstructions">
		You can pay for applications via your carrier account or a credit card.
		Your carrier may have a price limit on each transaction.
	</div>

	<div class="palm-body-text" id="ccInstructions">
		You must use a credit card to buy applications.
	</div>
	<div class="palm-body-text">
		Credit card information is stored by a secure third-party payment service, not by HP or in your phone.
	</div>
  <div class="palm-body-text" id="ccInstructions2">
    Tap Continue to enter your HP webOS Account password, which will be used to authorise purchases.
  </div>

   	<div x-mojo-element="Button" id="carrierButton"></div>
   	<div x-mojo-element="Button" id="creditButton"></div>
</div>
