<div class="palm-scene palm-hasheader palm-dark has-search-bar-top app-catalog app-catalog" >
	<div class="app-catalog-fade-top" x-mojo-scroll-fade="top"></div>	
	<div class="app-catalog-fade-bottom" x-mojo-scroll-fade="bottom"></div>
	
	<div class="palm-page-header"></div>
	<div class="search-bar-top">
		<div class="filter-field-container filter-field-container-height" x-mojo-focus-highlight="true">
			<div class="filter-field-wrapper">
				
				<div class="palm-row single">
					<div class="palm-row-wrapper textfield-group">
						<div class="title">
							<!-- show the submit button when there are one or more chars in the search field, and when the user taps the submit button it should submit the search (like hitting enter) -->
							<div id="searchResultsModified" class="icon right submit" style="position:relative;z-index:1;display:block" x-mojo-touch-feedback="immediate"></div>
							<!-- show results pill when showing search results. when user starts typing in search field, hide the search results pill and show the submit button -->
							<div id="in-fa-search-text" x-mojo-element="TextField" class="search-field"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="div-fa-browse">

		<div id='spinner' style='position:absolute' x-mojo-element='Spinner'></div>
		
		<div id="dv-fa-categorylist" class="palm-list" x-mojo-element="List"></div>
		<div id="dv-fa-categoryList-message" class="info-text" style="display:none">No se encontraron categorías</div>

	</div>
</div>
