<div id="palm-dialog-content" class="palm-dialog-content">
    <div id="title" class="dialog-title capitalize">
    	Password account HP webOS
    </div>
    <div class="palm-dialog-separator"></div>
	<div id="acctEmail" class="palm-dialog-message"></div>
	<div class="space"></div>
	
	<div class="textfield-group" x-mojo-focus-highlight="true">
     <div class="title">
       <div id="acctPassword" name="textField" x-mojo-element="PasswordField"></div>
     </div> 
   </div>	
	
	<div id="passwordLengthError" class="palm-inline-error" style="display:none">
		<div class="error-message">La password deve avere da 6 a 20 caratteri.</div>
	</div>

	<div id="passwordError" class="palm-inline-error" style="display:none">
		<div class="error-message">La password è errata.</div>
	</div>
		
	<div id="forgotPassword" style="display:none">
		 <div x-mojo-element="Button" id="forgotPasswordButton"></div>	
	</div>
	
	<div x-mojo-element="Button" id="submitPassword"></div>	
	        
</div>
