<div class="payment-setup">
	<div class="palm-page-header">
		<div class="palm-page-header-wrapper">              
			<div class="icon appcatalog">
			</div>         
			<div class="title">Impostazione pagamento</div>      
		</div>
	</div>

	<div class="palm-body-text" id="obInstructions">
		Si possono acquistare le applicazioni pagando attraverso l’account presso il proprio gestore telefonico oppure con una carta di credito.
		Il gestore potrebbe imporre un prezzo massimo per ciascuna transazione.
	</div>

	<div class="palm-body-text" id="ccInstructions">
		Per acquistare applicazioni è necessario usare una carta di credito.
	</div>
	<div class="palm-body-text">
		Le informazioni sulla carta di credito sono memorizzate tramite un servizio protetto fornito da una terza parte, non da HP né sul telefono.
	</div>
  <div class="palm-body-text" id="ccInstructions2">
    Toccare Continua per inserire la password del profilo Palm che verrà utilizzato per autorizzare gli acquisti.
  </div>

   	<div x-mojo-element="Button" id="carrierButton"></div>
   	<div x-mojo-element="Button" id="creditButton"></div>
</div>
