<div id="palm-dialog-content" class="palm-dialog-content">
    
	<div id="promoCodeDiscript" class="palm-dialog-message"></div>
	<div class="space"></div>
	
	<div class="palm-group">  
		<div class="palm-group-title">
			CODICE PROMOZIONALE
		</div>
		<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
            <div class="title">
                <div id="promoCode" name="textField" x-mojo-element="TextField"></div>
            </div> 
        </div>		
	</div>		
	
	<div id="Error" class="error" style="display:none">
		<div id="ErrorIcon" style="display:inline;float: left;"> <img src='images/icon-warning.png'/></div>
		<div id="ErrorMessage" class="error_message"> Codice promozionale non valido.</div>
	</div>
		
	<div id="usePromoCode">
		 <div x-mojo-element="Button" id="usePromoCodeButton"></div>	
	</div>
	
	<div x-mojo-element="Button" id="cancelButton"></div>	
	        
</div>
