<div id="palm-dialog-box-message" class="palm-dialog-content">
    <div id="title" class="dialog-title capitalize">
    	Reimpostazione della password
    </div>
    <div class="palm-dialog-separator">
    </div>
	<div class="space"></div>
	
	<div>
		Seguire le istruzioni inviate a <span id="emailAddress" class="reset-email"></span> per ripristinare la password oppure <a href="http://www.palm.com/webos-contact">contattare l’assistenza clienti</a>.
	</div>
		
	<div class="palm-button" id="doneResetEmail" x-mojo-touch-feedback="delayed">
		Chiudi
	</div>          
</div>
