<div>
	<div id="network" style="display:none" class="palm-scene palm-hasheader palm-dark app-catalog no-wifi-scene">
		<div class="palm-fullscreen-error">
			<div class="large-icon nonetwork"></div>
			<div class="fullscreen-message">Sie benötigen eine Netzwerkverbindung, um diese Anwendung zu nutzen.</div>
			<div id="show_help" class="palm-button" x-mojo-touch-feedback="immediate">Hilfe</div>
		</div>
	</div>
	<div id="error" style="display:none" class="palm-scene palm-hasheader palm-dark app-catalog app-catalog-down-scene">
	    <div class="app-catalog-down-image"></div>
	    <div class="app-catalog-down-message">
                <div>Aktion konnte nicht abgeschlossen werden.<br/>Versuchen Sie es später erneut.</div>
                <div id="app-catalog-down-code" style="display:none"></div>
            </div>
        </div>
	<div id="badauth" style="display:none" class="palm-scene palm-hasheader palm-dark app-catalog app-catalog-down-scene">
	    <div class="app-catalog-down-image"></div>
	    <div class="app-catalog-down-message">Kein HP webOS-Konto.Sie benötigen ein aktives HP webOS-Konto, um den App Catalog zu verwenden.</div>
	</div>
	<div id="appunavailable" style="display:none" class="palm-scene palm-hasheader palm-dark app-catalog app-catalog-down-scene">
		<div class="palm-fullscreen-error">
	    <div class="large-icon large-app-catalog"></div>
		<div class="app-catalog-down-message">Keine Anwendungen gefunden.</div>
		</div>
	</div>
	<div id="dplfailed" style="display:none" class="palm-scene palm-hasheader palm-dark app-catalog app-catalog-down-scene">
	    <div class="palm-fullscreen-error">
			<div class="large-icon large-app-catalog"></div>
			<div class="fullscreen-message">Sie können kein Konto einrichten. Die US-Bundesregierung untersagt HP, Ihnen den Kauf von Anwendungen zu gestatten.</div>
			<div id="show_dplfailed_help" class="palm-button" x-mojo-touch-feedback="immediate">Hilfe</div>
		</div>
	</div>
</div>
