
	<div class="palm-group">  
		<div class="palm-group-title" x-mojo-loc="" id="stateCountryTitle">
			State &amp; Country
		</div>
		<div class="palm-list">
			<div class="palm-row-wrapper" id="stateRow">
				<div id="stateContainer">
				</div>
			</div>
			<div class="palm-row last" id="countryRow">
				<div class="palm-row-wrapper" x-mojo-focus-highlight="true">
					<div id="billCountryListSelector" x-mojo-element="ListSelector"></div>   
				</div>
			</div>
		</div>
	</div>
	
	<div id="embargoedAddError" class="palm-inline-error" style="display:none">
		<div class="error-message" x-mojo-loc=""> The United States Government prohibits HP from allowing you to use this email address.</div>
	</div>
	<div id="emailNotValidError" class="palm-inline-error" style="display:none">
		<div class="error-message" x-mojo-loc="">Email must be in a valid format.</div>
	</div>

	<div class="palm-group" id="receiptsGroup">  
		<div class="palm-group-title" x-mojo-loc="">
			Send Receipts
		</div>
		
		<div class="palm-list">
			<div class='palm-row single'>                                                      
					<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
							<div class="title"> 
								<div id="invoiceEmail" x-mojo-element="TextField" ></div>
				      		</div>
				     </div>                                                                 
			</div>
		</div>
	</div>
	
	<div x-mojo-element="Button" id="removeButton"></div>
	<div x-mojo-element="Button" id="saveButton" tabindex="1"></div>	
	<div x-mojo-element="Button" id="cancelButton"></div>
