<div>
	<div id="network" style="display:none" class="palm-scene palm-hasheader palm-dark app-catalog no-wifi-scene">
		<div class="palm-fullscreen-error">
			<div class="large-icon nonetwork"></div>
			<div class="fullscreen-message">Vous devez vous connecter à un réseau pour utiliser cette application.</div>
			<div id="show_help" class="palm-button" x-mojo-touch-feedback="immediate">Aide</div>
		</div>
	</div>
	<div id="error" style="display:none" class="palm-scene palm-hasheader palm-dark app-catalog app-catalog-down-scene">
	    <div class="app-catalog-down-image"></div>
	    <div class="app-catalog-down-message">
                <div>Impossible d’exécuter cette action.<br/>Veuillez réessayer plus tard.</div>
                <div id="app-catalog-down-code" style="display:none"></div>
            </div>
        </div>
	<div id="badauth" style="display:none" class="palm-scene palm-hasheader palm-dark app-catalog app-catalog-down-scene">
	    <div class="app-catalog-down-image"></div>
	    <div class="app-catalog-down-message">Aucun compte HP webOSVous devez avoir un compte HP webOS actif pour utiliser l’App Catalog.</div>
	</div>
	<div id="appunavailable" style="display:none" class="palm-scene palm-hasheader palm-dark app-catalog app-catalog-down-scene">
		<div class="palm-fullscreen-error">
	    <div class="large-icon large-app-catalog"></div>
		<div class="app-catalog-down-message">Applications introuvables.</div>
		</div>
	</div>
	<div id="dplfailed" style="display:none" class="palm-scene palm-hasheader palm-dark app-catalog app-catalog-down-scene">
	    <div class="palm-fullscreen-error">
			<div class="large-icon large-app-catalog"></div>
			<div class="fullscreen-message">Vous ne pouvez pas ouvrir un compte. Le gouvernement des États-Unis interdit à HP de vous autoriser à acheter des applications.</div>
			<div id="show_dplfailed_help" class="palm-button" x-mojo-touch-feedback="immediate">Aide</div>
		</div>
	</div>
</div>
