<div>
	<div id="network" style="display:none" class="palm-scene palm-hasheader palm-dark app-catalog no-wifi-scene">
		<div class="palm-fullscreen-error">
			<div class="large-icon nonetwork"></div>
			<div class="fullscreen-message">Debes conectarte a una red para usar esta aplicación.</div>
			<div id="show_help" class="palm-button" x-mojo-touch-feedback="immediate">Ayuda</div>
		</div>
	</div>
	<div id="error" style="display:none" class="palm-scene palm-hasheader palm-dark app-catalog app-catalog-down-scene">
	    <div class="app-catalog-down-image"></div>
	    <div class="app-catalog-down-message">
                <div>No se pudo finalizar la acción.<br/>Inténtalo de nuevo más tarde.</div>
                <div id="app-catalog-down-code" style="display:none"></div>
            </div>
        </div>
	<div id="badauth" style="display:none" class="palm-scene palm-hasheader palm-dark app-catalog app-catalog-down-scene">
	    <div class="app-catalog-down-image"></div>
	    <div class="app-catalog-down-message">No hay ningúna cuenta de HP webOSNecesitas una cuenta activa de HP webOS para usar el App Catalog.</div>
	</div>
	<div id="appunavailable" style="display:none" class="palm-scene palm-hasheader palm-dark app-catalog app-catalog-down-scene">
		<div class="palm-fullscreen-error">
	    <div class="large-icon large-app-catalog"></div>
		<div class="app-catalog-down-message">No se encontró ninguna aplicación.</div>
		</div>
	</div>
	<div id="dplfailed" style="display:none" class="palm-scene palm-hasheader palm-dark app-catalog app-catalog-down-scene">
	    <div class="palm-fullscreen-error">
			<div class="large-icon large-app-catalog"></div>
			<div class="fullscreen-message">No puedes configurar una cuenta. El gobierno de los Estados Unidos prohíbe a HP permitirte comprar aplicaciones.</div>
			<div id="show_dplfailed_help" class="palm-button" x-mojo-touch-feedback="immediate">Ayuda</div>
		</div>
	</div>
</div>
