<div>
	<div id="network" style="display:none" class="palm-scene palm-hasheader palm-dark app-catalog no-wifi-scene">
		<div class="palm-fullscreen-error">
			<div class="large-icon nonetwork"></div>
			<div class="fullscreen-message">You must connect to a network to use this application.</div>
			<div id="show_help" class="palm-button" x-mojo-touch-feedback="immediate">Help</div>
		</div>
	</div>
	<div id="error" style="display:none" class="palm-scene palm-hasheader palm-dark app-catalog app-catalog-down-scene">
	    <div class="app-catalog-down-image"></div>
	    <div class="app-catalog-down-message">
                <div>The action could not be completed.<br/>Try again later.</div>
                <div id="app-catalog-down-code" style="display:none"></div>
            </div>
        </div>
	<div id="badauth" style="display:none" class="palm-scene palm-hasheader palm-dark app-catalog app-catalog-down-scene">
	    <div class="app-catalog-down-image"></div>
	    <div class="app-catalog-down-message">No HP webOS Account<br/>You need an active HP webOS Account to use App Catalog.</div>
	</div>
	<div id="appunavailable" style="display:none" class="palm-scene palm-hasheader palm-dark app-catalog app-catalog-down-scene">
		<div class="palm-fullscreen-error">
	    <div class="large-icon large-app-catalog"></div>
		<div class="app-catalog-down-message">No applications found.</div>
		</div>
	</div>
	<div id="dplfailed" style="display:none" class="palm-scene palm-hasheader palm-dark app-catalog app-catalog-down-scene">
	    <div class="palm-fullscreen-error">
			<div class="large-icon large-app-catalog"></div>
			<div class="fullscreen-message">You cannot set up an account. The United States Government prohibits Palm from allowing you to purchase applications.</div>
			<div id="show_dplfailed_help" class="palm-button" x-mojo-touch-feedback="immediate">Help</div>
		</div>
	</div>
</div>
