<div id="palm-dialog-box-message" class="palm-dialog-content">
    <div id="title" class="dialog-title capitalize" x-mojo-loc="">
    	Password reset
    </div>
    <div class="palm-dialog-separator">
    </div>
	<div class="space"></div>
	
	<div x-mojo-loc="">
		Follow the instructions we sent to <span id="emailAddress" class="reset-email"></span> to reset your password or <a href="http://www.palm.com/webos-contact">contact customer support</a>.
	</div>
		
	<div class="palm-button" x-mojo-loc='' id="doneResetEmail" x-mojo-touch-feedback="delayed">
		Done
	</div>          
</div>
